.Favourites {
  display: inline-flex;
  /* flex-direction: column; */
  margin-left: 200px;
  margin-top: 30px;
  /* flex-wrap: wrap; */
}
.FavouritePokemonView {
  padding: 5px;
  display: flex;
  height: 260px;
  width: 300px;
  margin-left: 300px;
  border: 1px solid rgb(187, 183, 183);
  background-color: rgb(187, 183, 183);
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 15px #444;
}

/* .FavouritePokemonView:hover {
    animation: zoomin 500ms forwards 1;
  } */

.FavouritePokemonImage {
  margin-top: -40px;
  /* width: 280px; */
  width: 240px;
  /* background-color: grey; */
}

.FavouritePokemonInfo {
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  height: 300px;
  width: 300px;
  margin-left: 300px;
  padding-left: -90px;
  /* border: 1px solid red; */
  /* border: 1px solid grey; */
  border-bottom: 1px solid rgb(187, 183, 183);
  border-left: 1px solid rgb(187, 183, 183);
  border-right: 1px solid rgb(187, 183, 183);
  background-color: #fff;
  text-align: start;
  box-shadow: 10px 10px 15px #444;
}

p {
  margin-left: 10px;
  margin-top: 5px;
}

.FavouritePokeArr {
  margin-left: 50px;
  margin-top: -32px;
  display: flex;
}

.FavouritePokeName {
  font-size: 18px;
  font-weight: 600;
}

.FavouritePokemonImage {
  margin-top: -40px;
  /* width: 280px; */
  width: 240px;
  /* background-color: grey; */
}

.FavouritePokemonCard {
  display: flex;
  flex-direction: column;
}

.chevronLeftIcon {
  height: 25px;
  width: 25px;
  margin-right: -200px;
  margin-top: 250px;
}

.chevronRightIcon {
  height: 25px;
  width: 25px;
  margin-left: 100px;
  margin-top: 250px;
}
