.Drawer {
  display: flex;
  width: 450px;
  height: 850px;
}

.Drawer ul {
  display: flex;
  flex-direction: column;
  margin-left: -85px;
  margin-top: 55px;
  padding-left: 130px;
  list-style: none outside none;
}

.DrawerOptionNames {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 21.9vh;
  margin-left: -45px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  color: #ffffff;
}

.DrawerOptionNamesSelectes {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 21.9vh;
  margin-left: -45px;
  /* border: 1px solid #c3c3c3; */
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgb(182, 182, 238);
}

.AppImage {
  height: 100px;
  width: 100px;
  margin-left: 80px;
}

.AppName {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 75px;
  margin-top: 5px;
}

.PageRouterStyling {
  color: black;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  outline: none;
  border: none;
  border-color: #fff;
  background-color: white;
}

.PageRouterSelectedStyling {
  color: black;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  outline: none;
  border: none;
  border-color: #fff;
  border-bottom: 2px solid rgb(3, 5, 4);
  background-color: white;
}

.DrawerStyle {
  padding-top: 10px;
  height: 100vh;
  width: 200px;
  padding-right: 60px;
  box-shadow: 10px 10px 30px #444;
  animation: expand 0.5s linear 1;
}

.DrawerClosedStyle {
  padding-top: 10px;
  height: 100vh;
  width: 0px;
  padding-right: 60px;
  box-shadow: 10px 10px 30px #444;
  animation: collapse 0.5s linear 1;
}

.DrawerIcon {
  margin-left: 15px;
  height: 20px;
  width: 20px;
  color: rgb(72, 72, 145);
}

.DrawerIconOption1 {
  margin-left: 15px;
  margin-top: 200px;
  height: 25px;
  width: 25px;
  color: rgb(86, 86, 201);
}

.DrawerIconOption2 {
  margin-left: 15px;
  margin-top: 35px;
  height: 25px;
  width: 25px;
  color: rgb(86, 86, 201);
}

@keyframes expand {
  from {
    width: 0px;
  }
  to {
    width: 200px;
  }
}

@keyframes collapse {
  to {
    width: 0px;
  }
}
